body{
    background: #003e43;
    font-family: sans-serif;
    max-width: 500px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.qr-text{
    padding: 1rem;
    display: block;
    background: #00595f;
    border: 1px solid #414866;
    border-radius: 4px;
    width: 475px;
    margin: 0.5rem 0 1rem 0;
    color: #fff;
    outline: none;
}

.qr-text::placeholder{
    color: #ffffff;
    font-weight: 500;
}

#qr-code{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #00595f;
    border-radius: 5px;
}

.row{
    display: none;
    align-items: center;
    justify-content: space-between;
}

.sizes{
    width: 32.5%;
    height: 40px;
    color: #ffffff;
    background: #00595f;
    border: 1px solid #414866;
    border-radius: 4px;
    outline: none;
}

.btn{
    color: #fff;
    max-width: 200px;
    padding: 14px;
    background: #002a2d;
    border-radius: 7px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 150px;
    flex: 1;
}

.btn img{
    width: 20px;
    align-items: center;
    margin-left: 10px;
}

.action-container{
    display: flex;
    margin: 0.9rem 0;
}
